<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-lazy-init="true">
  
  	<aop:config>
        <aop:advisor id="userServiceTx" advice-ref="userServiceTxAdvice" pointcut="execution(* *..service.UserManager.*(..))" order="0"/> 
        <aop:advisor id="userManagerSecurity" advice-ref="userSecurityAdvice" pointcut="execution(* *..service.UserManager.saveUser(..))" order="1"/>       
    </aop:config>
    
      <!-- Enable @Transactional support -->
    <tx:annotation-driven/>
 
    <!-- Enable @Configured support -->
    <aop:spring-configured/>
    
    <tx:advice id="txAdvice">
        <tx:attributes>           
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <tx:advice id="userServiceTxAdvice">
        <tx:attributes>
            <tx:method name="add*" rollback-for="UserExistsException"/>
        </tx:attributes>
    </tx:advice>  
    
  <bean id="userSecurityAdvice" class="com.optiploy.service.UserSecurityAdvice"/>    

  <bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager"><ref bean="transactionManager"/></property>
    <property name="transactionAttributes">
      <props>
        <prop key="save*">PROPAGATION_REQUIRED</prop>
        <prop key="add*">PROPAGATION_REQUIRED</prop>
        <prop key="remove*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <bean id="userService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
      </bean>
    </property>
  </bean>
  
  <bean id="roleService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="applicationService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ApplicationServiceImpl">
        <property name="applicationDao" ref="applicationDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="attributeService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.AttributeServiceImpl">
        <property name="attributeDao" ref="attributeDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="attributeTypeService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.AttributeTypeServiceImpl">
        <property name="attributeTypeDao" ref="attributeTypeDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="agentService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.AgentServiceImpl">
        <property name="agentDao" ref="agentDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="environmentService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.EnvironmentServiceImpl">
        <property name="environmentDao" ref="environmentDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="functionService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.FunctionServiceImpl">
        <property name="functionDao" ref="functionDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="jobService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.JobServiceImpl">
        <property name="jobDao" ref="jobDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="logService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.LogServiceImpl">
        <property name="logDao" ref="logDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="logFileService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.LogFileServiceImpl">
        <property name="logFileDao" ref="logFileDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="instanceService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.InstanceServiceImpl">
        <property name="instanceDao" ref="instanceDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="moduleService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ModuleServiceImpl">
        <property name="moduleDao" ref="moduleDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="progressService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ProgressServiceImpl">
        <property name="progressDao" ref="progressDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="propertyService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.PropertyServiceImpl">
        <property name="propertyDao" ref="propertyDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="releaseService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ReleaseServiceImpl">
        <property name="releaseDao" ref="releaseDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="reportService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ReportServiceImpl">
        <property name="reportDao" ref="reportDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="reportMenuService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ReportMenuServiceImpl">
        <property name="reportMenuDao" ref="reportMenuDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="ruleService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.RuleServiceImpl">
        <property name="ruleDao" ref="ruleDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="ruleTypeService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.RuleTypeServiceImpl">
        <property name="ruleTypeDao" ref="ruleTypeDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="scriptService" parent="txProxyTemplate">
    <property name="target">
      <bean class="com.optiploy.service.impl.ScriptServiceImpl">
        <property name="scriptDao" ref="scriptDao"/>
      </bean>
    </property>
  </bean>
  
  <bean id="manager" parent="txProxyTemplate">
  	<property name="target">  
  	  <bean class="com.optiploy.manager.impl.UniversalManagerImpl">
        <property name="dao" ref="universalDao"/>
      </bean>
	</property>
  </bean>
  
  <bean id="lookupManager" parent="txProxyTemplate">
  	<property name="target">  
  	  <bean class="com.optiploy.manager.impl.LookupManagerImpl">
        <property name="lookupDao" ref="lookupDao"/>
      </bean>
	</property>
  </bean> 
   
  <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>
  
  <bean id="buildMonitor" class="com.optiploy.application.BuildMonitor" />
  
  <bean id="buildApplication" class="com.optiploy.application.BuildApplication"> 
        <property name="agentService" ref="agentService" />
        <property name="instanceService" ref="instanceService" />
    	<property name="propertyService" ref="propertyService" />  
    	<property name="logService" ref="logService" /> 
    	<property name="buildMonitor" ref="buildMonitor" />
  </bean> 
     
  	
</beans>
